fastapi==0.115.12
uvicorn==0.34.0
python-dotenv==1.1.0
openai==1.71.0
langchain==0.3.23
langchain-community==0.3.21
langchain-core==0.3.51
langchain-openai==0.3.12
faiss-cpu==1.10.0
jinja2==3.1.6
websockets==15.0.1